@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:700|Montserrat:400,700');
*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out;
    }
body{
    max-width: 1922px;
    padding: 0;
    margin: 0;
}
header{
    max-width: 1922px;
    width: 1922px;
    height: 120px;
    position: relative;
}
.header__logo{
    margin-top: 40px;
    margin-left: 19px;
}
.logo__link{
    margin-right: 63px;
    display: block;
}
.logo__img{
    width: 216px;
    height: 41px;
}
.nav{
    padding: 10px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.nav__menu{
    padding-top: 34px;
    padding-left: 8px;
}
.nav__list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}
.nav__item{
  
}
.nav__link{
    width: 749px;
    height: 23px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-decoration: none;
    outline: none;
    padding: 0px 25px;
}
.nav__link::after{
    margin-left: 27px;
    width: calc(100% - 23px * 2);
    height: 2px;
    background-color: #e39a8b;
    display: block;
    content: '';
    opacity: 0;
    transform: translateY(50px);
    transition: .3s;
}
.nav__link--active, .nav__link:hover{
    color: black;
}
.nav__link--active:after, .nav__link:hover:after{
    opacity: 1;
    transform: translateY(0);
}
.icon__link{
    width: 81px;
    height: 31px;
    color: black;
    font-size: 30px;
    font-weight: 400;
    line-height: 29px;
}
.head{
    background-image: url(../img/Figures-background.jpg);
    background-repeat: no-repeat;
    max-width: 1922px;
    width: 1922px;
    height: 800px;
}
.head__title{
    padding-top: 211px;
    padding-left: 2px;
}
.head__title h1{
    height: 117px;
    color: black;
    font-family: 'Cormorant Garamond', serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
}
.head__title p{
    width: 510px;
    height: 52px;
    color: #5c5c5c;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 30px;
}
.btn{
    width: 200px;
    height: 55px;
    background-color: #b05442;
    border-radius: 5px;
    color: #fffefe;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    cursor: pointer;
}
.section__works{
    width: 1922px;
    height: 834px;
}
.section__works--head{
padding-top: 97px;
padding-bottom: 80px;
}
.section__works--head h1{
    width: 335px;
    height: 45px;
    color: black;
    font-family: 'Cormorant Garamond', serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    display: flex;
    justify-content: center;
    
}
.image{
    width: 370px;
    height: 360px;
}
.section__works--content{
    width: 370px;
    height: 614px;
}
.section__works--img{
    padding-bottom: 24px;
}
.section__works--inf{
    width: 370px;
    height: 229px;
}
.section__works--inf img{
    padding-left: 15px;
}
.section__works--inf h2{
    width: 251px;
    height: 27px;
    color: black;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 108px;
    float: right;
}
.section__works--inf p{
    width: 251px;
    height: 67px;
    color: #5c5c5c;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    float: right;
    padding-bottom: 50px;
    position: relative;
}
.section__products{
    width: 1922px;
    height: 945px;
}
.section__products--head h1{
    width: 489px;
    height: 45px;
    color: black;
    font-family: 'Cormorant Garamond', serif;
    font-size: 60px;
    font-weight: 700;
}