@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:700|Montserrat:400,700');

body{
    max-width: 1920px;
    padding: 0;
    margin: 0;
}
header{
    max-width: 1920px;
    width: 1920px;
    height: 120px;
}
.header__logo{
    margin-top: 31px;
    margin-left: 19px;
}
.logo__link{
    display: block;
}
.logo__img{
    width: 216px;
    height: 41px;
}
.nav{
    padding: 10px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.nav__menu{
padding-top: 50px;
}
.nav__list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}
.nav__item{
  
}
.nav__link{
    width: 749px;
    height: 23px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-decoration: none;
    padding: 0px 24px;
}
.nav__link::after{
    width: calc( 100%- 36px*2);
    height: 2px;
    background-color: #e39a8b;
    display: block;
    content: '';
    opacity: 0;
    transform: translateY(50px);
    transition: .3s;
}
.nav__link--active, .nav__link:hover{
    color: black;
}
.nav__link--active:after, .nav__link:hover:after{
    opacity: 1;
    transform: translateY(0);
}
.icon__link{
    width: 81px;
    height: 31px;
    color: black;
    font-size: 30px;
    font-weight: 400;
    line-height: 29px;
}
.head{
    background-image: url(../img/Rectangle-1.png);
    background-position: top;
    width: 1220px;
    height: 750px;
    margin: 0 360px;
}
.head__title h1{
    /* Text style for "New Fashion
Fa" */
width: 464px;
height: 117px;
color: black;
font-family: CormorantGaramond;
font-size: 60px;
font-weight: 700;
line-height: 72px;
}
.title p{
    /* Text style for "Save hours of" */
    width: 510px;
    height: 52px;
    color: #5c5c5c;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
}
.btn{
    /* Text style for "View Lookbook" */
   /* Style for "Button" */
    width: 200px;
    height: 55px;
    background-color: #b05442;
    border-radius: 5px;
    color: #fffefe;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
}