@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:700|Montserrat:400,700');
*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .20s ease-in-out;
    }
body{
    padding: 0;
    margin: 0;
}
header{
    height: 120px;
    position: relative;
}
.header__logo{
    margin-top: 40px;
    margin-left: 19px;
}
.logo__link{
    margin-right: 63px;
    display: block;
}
.logo__img{
    width: 216px;
    height: 41px;
}
.nav{
    padding: 10px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.nav__menu{
    padding-top: 34px;
    padding-left: 8px;
}
.nav__list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav__item{
  
}
.nav__link{
    width: 749px;
    height: 23px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-decoration: none;
    outline: none;
    padding: 0px 25px;
}
.nav__link::after{
    margin-left: 27px;
    width: calc(100% - 23px * 2);
    height: 2px;
    background-color: #e39a8b;
    display: block;
    content: '';
    opacity: 0;
    transform: translateY(50px);
    transition: .3s;
}
.nav__link--active, .nav__link:hover{
    color: black;
}
.nav__link--active:after, .nav__link:hover:after{
    opacity: 1;
    transform: translateY(0);
}
.icon__link{
    width: 81px;
    height: 31px;
    color: black;
    font-size: 30px;
    font-weight: 400;
    line-height: 29px;
}
.head{
    background-image: url(../img/Figures-background.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 800px;
}
.head__title{
    padding-top: 211px;
    padding-left: 2px;
}
.head__title h1{
    height: 117px;
    color: black;
    font-family: 'Cormorant Garamond', serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
}
.head__title p{
    width: 510px;
    height: 52px;
    color: #5c5c5c;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 30px;
}
.btn{
    width: 200px;
    height: 55px;
    background-color: #b05442;
    border-radius: 5px;
    color: #fffefe;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    cursor: pointer;
    border: 1px solid #b05442;
}
.btn:hover{
    background-color: #7F5859;
    opacity: 0.7;
    transition: .3s
}
.section__works{
    height: 834px;
}
.section__works--head{
padding-top: 97px;
padding-bottom: 80px;
text-align: center;
}
.section__works--head h1{
    height: 45px;
    color: black;
    font-family: 'Cormorant Garamond', serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
}
.image{
    width: 370px;
    height: 360px;
}
.image:hover{
    cursor: pointer;
    transform: translateY(10px);
    transition: .3s;
}
.section__works--content{
    width: 370px;
    height: 614px;
}
.section__works--img{
    padding-bottom: 24px;
}
.section__works--inf{
    width: 370px;
    height: 229px;
}
.section__works--inf img{
    padding-left: 15px;
}
.section__works--inf h2{
    width: 251px;
    height: 27px;
    color: black;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 108px;
    float: right;
}
.section__works--inf p{
    width: 251px;
    height: 67px;
    color: #5c5c5c;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    float: right;
    padding-bottom: 50px;
    position: relative;
}
.section__products{
    height: 945px;
}
.section__products--head{
    padding-top: 102px;
    padding-bottom: 35px;
    text-align: center;
}
.section__products--head h1{
    height: 45px;
    color: black;
    font-family: 'Cormorant Garamond', serif;
    font-size: 60px;
    font-weight: 700;
}
.nav__products{
    padding: 10px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.nav__products--menu{

}
.nav__products--list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav__products--item{

}
.nav__products--link{
    width: 602px;
    height: 18px;
    color: #5c5c5c;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-decoration: none;
    outline: none;
    padding: 0 23px;
}
.nav__products--link::after{
    margin-left: 25px;
    width: calc(100% - 24px * 2);
    height: 2px;
    background-color: #e39a8b;
    display: block;
    content: '';
    opacity: 0;
    transform: translateY(50px);
    transition: .3s;
}
.nav__products--link--active, 
.nav__products--link:hover{
    color: black;
}
.nav__products--link--active:after, 
.nav__products--link:hover:after{
    opacity: 1;
    transform: translateY(0);
}
.section__products--img__2, 
.section__products--img__4{
    margin-top: 30px;
}
.section__products--img__1:hover, 
.section__products--img__2:hover, 
.section__products--img__3:hover, 
.section__products--img__4:hover{
    opacity: 0.5;
    cursor: pointer;
}
.section__products--img__1:hover,
.section__products--img__2:hover{
    transform: translateX(-20px);
    transition: .3s;
}
.section__products--img__3:hover,
.section__products--img__4:hover{
    transform: translateX(20px);
    transition: .3s;
}
.section__brands{
    padding-top: 141px;
    margin-bottom: 220px;
    height: 667px;
}
.section__brands--head{
    padding-top: 98px;
    padding-bottom: 77px;
    text-align: center;
}
.section__brands--head h1{
    height: 45px;
    color: black;
    font-family: 'Cormorant Garamond', serif;
    font-size: 60px;
    font-weight: 700;
}
.section__brands--img__5{
    margin-top: 31px;
}
.section__brands--img__6{
    margin-top: 31px;
}
.section__brands--img__7{
    margin-top: 31px;
}
.section__brands--img__8{
    margin-top: 31px;
    z-index: 1;
}
.section__brands--img__1:hover, 
.section__brands--img__2:hover,
.section__brands--img__3:hover,
.section__brands--img__4:hover,
.section__brands--img__5:hover,
.section__brands--img__6:hover,
.section__brands--img__7:hover,
.section__brands--img__8:hover{
    opacity: 0.7;
    cursor: pointer;
}
.section__review{
    height: 500px;
    background-color: #ebdcc3;
    
}
.section__review--content{
   
}
.section__review--img{
    padding-top: 115px;
}
.section__review p{
    width: 855px;
    height: 100px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    float: right;
    padding-top: 171px;
}
.section__touch{
    height: 712px;
}
.section__touch--head{
    padding-top: 94px;
    text-align: center;
}
.section__touch--title{
    text-align: center;
}
.section__touch--head h1{
    height: 45px;
    color: black;
    font-family: 'Cormorant Garamond', serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 43px;
}
.section__touch--title p{
    height: 23px;
    color: #5c5c5c;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 43px;
}
.section__touch--content{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 0;
    left: 30%;
    margin: 0 auto;
}
.section__touch--name{
    width: 690px;
    height: 60px;
    color: #5c5c5c;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 43px;
    padding: 15px 0;
    border: 1px solid #CFB28F;
    padding-left: 30px;
    margin: 0 auto;
}
.section__touch--email{
    width: 690px;
    height: 60px;
    color: #5c5c5c;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 43px;
    padding: 15px 0;
    border: 1px solid #CFB28F;
    padding-left: 30px;
    margin: 0 auto;
}
.section__touch--text{
    width: 690px;
    height: 120px;
    color: #5c5c5c;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 43px;
    border: 1px solid #CFB28F;
    overflow: hidden;
    resize:none;
    padding-left: 30px;
    margin: 0 auto;
}
.section__touch--content__email{
    padding-top: 30px;
    margin: 0 auto;
}
.section__touch--content__text{
    padding-top: 30px;
    margin: 0 auto;
}
.btn__send{
    width: 200px;
    height: 60px;
    background-color: #b05442;
    color:white;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 21px;
    border: 1px solid #b05442;
    cursor: pointer;
    margin: 0 auto;
}
.section__touch--content__button{
    margin-top: 33px;
}
footer{
    height: 300px;
    background-color: #7f5859;
}
.footer__logo--img, .footer__logo--link{
    margin-top: 125px;
}
.footer__nav--menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 110px;
}
.footer__nav--link{
    color: #fefefe;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-decoration: none;
}
.footer__nav--item:hover{
    opacity: 0.7;
}
.footer__icons--menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 110px;
}
.footer__icons--img{
    width: 30px;
    height: 30px;
}
.footer__icons--item{
    margin-right: 25px;
}
.footer__icons--item:hover{
    opacity: 0.7;
    transform: translateY(20px);
    transition: .3 ease;
}
.footer__main{
    width: 100%;
    height: 50%;
    text-align: center;
    margin-top: 70px;
}
.footer__main h6{
    color: #fefefe;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
}